<div class="welcome_pg">
<%= image_tag("fairmont shanghai.jpg", size: "600x300") %>
</div>

<div class="welcome_pg">
<h1>Welcome!</h1>
<%=link_to "Sign Up", new_guest_path%>
<%=link_to "Sign In", signin_path%>
</div>
