<div class="welcome_pg">
<%= image_tag("Conde_nast.jpg", size: "1000x500") %>
</div>



<div class="welcome_pg">
<h1><b>Hey, you! <span class="glyphicon glyphicon-glass"></span></b></h1>
<p><i>We know you like to stay in style when you travel.<br>
Now you can--and at an affordable price--with Suite Spot.</i></p>
<h3><%=link_to "Sign Up", new_guest_path%> | <%=link_to "Sign In", signin_path%></h3>

<body>

<div class="container1">

<div class="first" >
  <div class="card-body">
    <h4 class="card-title"><b>Silver Membership</b></h4>
    <p class="card-text">
      For occasional travelers<br>
      1 Credit<br>
      $50 per month
      </p>
     <a href=/guests/new class="btn btn" style="background-color:#93FFE8; color:#000000; border:1px solid black;"><b>Select Plan</b></a>
  </div>
</div>

<div class="second" >
  <div class="card-body">
    <h4 class="card-title"><b>Gold Membership</b></h4>
    <p class="card-text">
      Our most popular plan for regular travelers<br>
      2 Credits<br>
      $90 per month<br>
    <a href=/guests/new class="btn btn" style="background-color:#93FFE8; color:#000000; border:1px solid black;"><b>Select Plan</b></a>
  </div>
</div>

<div class="third" >
  <div class="card-body">
    <h4 class="card-title"><b>Platinum Membership</b></h4>
    <p class="card-text">
      Premium plan with access to executive lounges<br>
      5 Credits<br>
      $200 per month<br>
    </p>
    <a href=/guests/new class="btn btn" style="background-color:#93FFE8; color:#000000; border:1px solid black"><b>Select Plan</b></a>
  </div>
</div>

</div>


</body>

</div>
