<div class=".myDiv"> <%= image_tag("fairmont shanghai.jpg", size: "800x400") %></div>

<h1>Welcome!</h1>
<%=link_to "Sign Up", new_guest_path%>
<%=link_to "Sign In", signin_path%>





<body>



<div class="container1">

<div class="first" >
  <div class="card-body">
    <h4 class="card-title">Silver Membership</h4>
    <p class="card-text">
      <ul type="disc">
        <li>For occasional travelers</li>
        <li>1 Credit</li> </p>
     <a href=/guests/new class="btn btn-primary">Select Plan</a>
  </div>
</div>

<div class="second" >
  <div class="card-body">
    <h4 class="card-title">Gold Membership</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href=/guests/new class="btn btn-primary">Select Plan</a>
  </div>
</div>

<div class="third" >
  <div class="card-body">
    <h4 class="card-title">Platinum Membership</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href=/guests/new class="btn btn-primary">Select Plan</a>
  </div>
</div>

</div>


</body>
