

<div class="container1">

<div class="first" >
  <div class="card-body">
    <h4 class="card-title">Silver Membership</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     <a href=/guests/new class="btn btn-primary">Select Plan</a>
  </div>
</div>

<div class="second" >
  <div class="card-body">
    <h4 class="card-title">Gold Membership</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href=/guests/new class="btn btn-primary">Select Plan</a>
  </div>
</div>

<div class="third" >
  <div class="card-body">
    <h4 class="card-title">Platinum Membership</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href=/guests/new class="btn btn-primary">Select Plan</a>
  </div>
</div>




</div>

