body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}


/* unvisited link */
a:link {
    color: #blue;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: blue;
}


div.reservation {
    background-color: #B6B6B4;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

input.button {
  background-color: black;
}

.container1 {
  display:flex;
  justify-content:center;
  padding-top: 50px;
}

.first, .third {
  width:200px;
  border: solid black;
  padding: 20px;
  margin:10px;
  box-shadow: 10px 10px 5px grey;

}
.second {
  width:200px;
  border: solid black;
  padding: 20px;
  margin:10px;
  box-shadow: 10px 10px 5px grey;
}

.hotel_index {
  width:400px;
  border: solid black;
  padding: 20px;
  margin:10px;
}

.welcome_pg
{
  text-align:center
}


.myDiv
{
  height:350px;
  width:500px;
  display:block;
  text-align:center
}

.hotel_show_page
{
  text-align:center
}
