div.reservation {
    background-color: #009696;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

input.button {
  background-color: black;
}

.container1 {
  display:flex;
  justify-content:center;
  padding-top: 50px;
}

.first, .third {
  width:200px;
  border: solid black;
  padding: 20px;
  margin:10px;

}
.second {
  width:200px;
  border: solid black;
  padding: 20px;
  margin:10px;
}

.hotel_index {
  width:400px;
  border: solid black;
  padding: 20px;
  margin:10px;
}

.welcome_pg
{
  text-align:center
}

#myDiv
{
  height:300px;
  width:500px;
}

.myDiv
{
  max-width:100%;
  max-height:100%;
  margin: left;
  display:block;
}
