<h2> Check out all our partner hotels... </h2>

<% @hotels.each do |hotel| %>

<div id="hotel_profile_pics">

<div class="container1">
<img src="/assets/<%=hotel.profile_img%>" >
  <div class="hotel_index">
    <h4 class="card-title"><%=hotel.name %></h4>
    <p class="card-text"><%=hotel.description %></p>
    <a href="/hotels/<%=hotel.id%>" class="btn btn-primary">More info </a>
  </div>
</div>

<br>
<br>

</div>

<br>
<br>
<% end %>

